@font-face {
  font-family: 'Helvetica';
  src: url('./components/fonts/Helvetica.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('./components/fonts/Helvetica-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


body {
  background: linear-gradient(145deg, #2e2e2e, #1a1a1a);
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  color: #ffffff;
}

h1, h2, h3, h4 {
  font-family: 'Helvetica', sans-serif;
}

.MuiContainer-root {
  padding: 2rem;
}


.glassy {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 2rem;
  color: #e0e0e0;
}


.header-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.header-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-avatar {
  width: 200px !important; 
  height: 200px !important;
  margin-bottom: 1rem; 
  border: 3px solid rgba(255, 255, 255, 0.5); 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5); 
}


.name-glow {
  font-size: 2rem;
  font-weight: bold !important;
  text-align: center;
}


.social-icons {
  display: flex;
  align-items: center;
}

.social-icons .MuiIconButton-root {
  color: white;
}


@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }

  .social-icons {
    margin-top: 1rem;
  }
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-content: space-evenly;
    padding: 1rem !important;
  }
}

.stat-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.stat-images img {
  width: 100%; 
  height: auto; 
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.spoken-languages {
  margin-bottom: 2rem;
}

.spoken-languages .MuiChip-root {
  font-size: 1rem;
}

.experience {
  padding: 2rem;
  border-radius: 10px;
  color: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.experience .MuiListItem-root {
  background-color: rgba(255, 255, 255, 0.1); 
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.experience .MuiListItem-root:hover {
  transform: scale(1.05);
}



.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-content: space-evenly;
  padding: 1rem;
  padding-left: 3rem;
}

.project-item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 1rem;
  width: 250px;
  height: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: white;
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.css-cveggr-MuiListItemIcon-root {
  min-width: 0px !important;
}

.project-item:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 40px rgba(0, 0, 0, 0.7);
}

.project-item.disabled {
  opacity: 0.5;
  filter: grayscale(100%);
  pointer-events: none;
}

.project-title {
  color: #ffffff; 
  font-weight: bold; 
  font-size: 1.25rem !important; 
  margin-bottom: 0.5rem; 
  text-align: center;
}

.project-description {
  text-align: center;
  color: #9f9e9e;
}

.closed-source {
  text-align: center;
  color: #ff6666;
}

.project-icon {
  margin-bottom: 10px;
}

.project-img {
  width: 50px;
  height: 50px;

}
